@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@400;500&display=swap');

:root {
    --primary-color-blue: #3772FF;
    --secondary-color-green: #36D6AD;
    --tertiary-color-coral: #FC7071;
    --tertiary-color-creme: #FCF0E3;
    --details-color-gray-300: #737380;
    --details-color-gray-200: #BCBCBC;
    --details-color-gray-100: #F7F7F7;
    font-family: Poppins, sans-serif;
}